:root{
    --gray-6: #bfbfbf;
    --gray-10: #262626;
}

#components-layout-demo-fixed .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.2);
  }
  .site-layout .site-layout-background {
    background: #fff;
  }

  



.layout{
    .header{
        height: auto;
        display: flex;
        flex-direction:column;

        .logo{
            width: 150px;
            height: 32px;
            margin: 16px auto;
            background: rgba(255, 255, 255, 0.3);
        }

        .title{
            display: flex;
            justify-content: center;
            
            h2{
                color: var(--gray-6);
                margin: 0 1rem;

                &:first-child{
                    &::after{
                        content: ' ';
                    }
                }
            }
        }
    }
}