.novoFuncionario{
    width: 100% !important;

    .modalForm{
        z-index: 99999 !important;
    }
    .botaoAbrirModal{
        width: 100% !important;
        display: flex;
        justify-content: flex-end;
        
        margin: 1.5rem 0;
    }

    .rowInput{
        margin-bottom: 1rem !important;
    }
}